*{
    margin: 5;
    padding: 2;
    box-sizing: border-box;
    background-color: purple;
}

nav{
    background-color: white;
}

nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
}

nav li a:hover{
    background-color: red;
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
